[user]
        email = jess@grokcode.com
[core]
        editor = ec
        excludesfile = ~/.gitignore
[content]
        editor = emacs
[alias]
        co = checkout
        unstage = reset HEAD --
[push]
        default = matching
