[user]
        email = jess@grokcode.com
[core]
        editor = emacs
        excludesfile = ~/.gitignore
[color]
        ui = always
[color "diff"]
       commit = green
       meta = yellow
       frag = cyan
       old = red
       new = green
       whitespace = red reverse
[content]
        editor = emacs
[alias]
        co = checkout
        co-pr = !sh -c 'git fetch origin pull/$1/head:pr/$1 && git checkout pr/$1' -
        unstage = reset HEAD --
[push]
        default = matching
[credential]
	helper = osxkeychain
